# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Streamlit
.streamlit/secrets.toml

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Dataset files
*.csv
!Spotify_Usage_Data_301.csv

# OS specific
.DS_Store
Thumbs.db

# Log files
*.log
